body{
    font-family: 'Montserrat';
    text-align: center;
}
h1,h2,h3{
    font-family: 'Montserrat';
    font-weight: 900;
}
h2,h3{
    font-size: 3rem;
    line-height: 1.5;
}
.colored {
    color: white;
    background-color: #ff4c68;
}
.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}
.container-fluid{
    padding:7% 15% ;
}
/* tittle */
.navbar {
    padding-bottom: 4.5rem;
}
/* NAV BAR */
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 400;
}
/* DL BUTTON */
.dl-btn {
    margin: 5% 3% 5% 0%;
}
.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: relative;
    left: 30%;
}
#title{
    text-align: left;
}
#title .container-fluid{
    padding: 3% 15% 7%;
}
.feature-tittle{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.5rem;
}
.feature-text{
    color:#8f8f8f
}
.icon{
    color:#ef8172;
    
    margin: 1rem;
}
.icon:hover{
    color:#ff4c88;
}
.feature-box{
    margin-bottom: 15px;
    padding: 5%;
}
#features{
    background-color: white;
    position: relative;
}
/* <!-- Testimonials --> */
#testimonials {
    background-color: #ef8172;
}
.testi-img{
border-radius: 100%;
width: 20%;
margin: 20px;
}
#press{
    background-color: #ef8172;
    padding-bottom:5% ;
}
.corpa-icon{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 5rem 10rem ;
}
#cta h3 {
    padding: 60px 60px 3px;
}
#footer {
    color: #000;
    background-color: #fff;
}
@media screen and (max-width:1028px) {
    .title-img{
        position: static;
        transform: rotate(0);
        left:0;
        right: 0;
    }
    #title .container-fluid{
        text-align: center;
    }
}